$primary-color: blue;
$primary-color-inverse: white;

$danger-color: red !default;
$gray-color: gray !default;

$vertical-spacing-normal: 1rem;

$input-font-size: 0.875rem;
$input-padding: 0.375rem !default;
$input-border-width: 0.125rem !default;
$input-border-style: solid !default;
$input-border-radius: 0.25rem;
$input-border-color: #dedede;
$input-border-color-focused: lighten($primary-color, 10);
$input-border-color-invalid: red;
$input-border-color-select: #eee;
$input-border-color-select-hover: #ddd;
$input-background-color: #fafafa;
$input-background-color-disabled: #aaa;
$input-background-color-focused: white;
$input-background-color-hover: #eee;
$input-background-color-select: #eee;
$input-background-color-select-hover: #ddd;
$input-text-color: #333;
$input-muted-text-color: #777;
$input-transition: 0.2s ease-in-out;

$field-label-color: $gray-color;
$field-label-font-weight: 600 !default;
$field-label-font-size: 0.75rem !default;
$field-label-line-height: 1.33333 !default;;
$field-label-padding: $vertical-spacing-normal 0 $input-padding $input-border-width !default;

$field-errors-margin-top: $input-padding;

$icon-size-xsmall: 1rem;
$icon-size-small: 1.25rem;
$icon-size-normal: 1.5rem;
$icon-size-large: 2rem;
$icon-size-xlarge: 3rem;
